body {
  /*text-align: center;*/
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}
/*Card*/
/*.selectedCard{
  min-height: 100vh;
  height: 100%;
  background-color: red;

}*/
/*Deck*/
.selectedDeck{
  min-height: 100vh;
  height: 100%;
  background-color: #6C7A89;
}
.deckTitle{
  background-color: #6C7A89;
  height: 50px;
  font-size: 36px;
  border: none;
  padding: 0 0 0 100px;
  margin: 30px 0 0 112px;

}
.deckSpace{
  height: 535px;
  width: 900px;
  background-color: #2C3E50;
  margin: 37px 0 0 112px;
}
/*Search*/
.searchCards{
  min-height: 100vh;
  height: 100vh;
  background-color: #BDC3C7;
}
.searchResults{
  width: 100%;
  margin: 0 0 0 25px;
}
.searchQuery{
  min-height: 10vh;
  padding: 0 0 60px 0;
}
.searchQuery input{
  height: 30px;
  margin: 30px 0 0 80px;
  padding: 0 0 0 20px;
}
.searchItem{
  width:  90px;
  height: 130px;
  overflow: hidden;
  cursor: move;
  display: inline-block;
}
