body {
  text-align: center;
  margin: 0;
  min-width: 100%;
}
/*Card*/
.col-md-3{
  width: 25%;
  float: left;
}
.col-md-6{
  width: 50%;
  float: left;

}
.selectedCard{
  height: 100vh;
  background-color: red;

}
/*Deck*/
.selectedDeck{
  height: 100vh;
  background-color: blue;

}
/*Search*/
.searchCards{
  height: 100vh;
  background-color: green;


}
.searchResults{
  width: 100%;
}
.searchItem{
  max-height: 30vh;
  max-width: 33%;
}
.searchItem img{
  max-width: 100%;
  display: flex;
}
